<!-- 2 graficos, el primer grafico: Tiempo vs Prob (grafica de línea), segundo grafico: Prob(triple) x bandeja (grafico de barra) -->
<div class="container">
    <div class="row">
        <div class="col-md me-5  card">
            <div class="row">
                <h3><b>Tiempo vs Probabilidad</b></h3>
            </div>
            <div class="row">
                <app-line-chart></app-line-chart>
            </div>
        </div>
        <div class="col-md card">
            <div class="row">
                <div class="row-md-12">
                    <h3><b>Probabilidad x Bandeja</b></h3>
                </div>
            </div>
            <div class="row">
                <app-bar-chart></app-bar-chart>
            </div>
        </div>
        
    </div>
</div>
