.spacer {
    flex: 1 1 auto;
}

.nav-extra {
    box-shadow: 0px 3px 3px rgb(207, 207, 207);
}

.menu-icon {
    border: 0px;
    border-radius: 100%;
}

.menu-icon:hover {
    background-color: rgb(226, 226, 226);
}